/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: hsl(210, 2%, 56%);
    background: #f3f3f4;
}

/* button */

.btn-checkout {
    background-color: hsl(168, 75%, 40%);
    border: none;
    color: white;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: .1em;
}

.btn-cancel {
    border: .1em solid hsl(210, 2%, 56%);
    color: hsl(210, 2%, 56%);
    padding: .4rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: .1em;
}

/* Left side css */

.left {
    flex-basis: 80%;
    /* border: 2px solid black; */
    margin: 1em;
    /* background: #fff; */
    /* gap: 1rem; */
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    /* border: 2px solid black; */

}

.head-text span {
    color: hsl(210, 2%, 56%)
}

/* Cart body */

.cart {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2em;
    margin-top: .3em;
    width: 100%;
}

.img {
    width: 100px;
    height: 100px;
    background: #f3f3f4;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 60%;
}

tr {
    width: 100%;
}

table td,
table td * {
    vertical-align: top;
}

.product h2 {
    color: hsl(168, 75%, 40%);
}

.product>p {
    font-size: 15px;
    font-weight: 300;
}

.description {
    margin: 0;
    padding: 0;
}

.description>span {
    font-size: 15px;
    font-weight: 300;
}

.action-button a {
    text-decoration: none;
    color: hsl(210, 2%, 56%);

}



.old-rate {
    font-size: 12px;
    font-weight: 300;
}

.qua-box input {
    width: 4em;
    height: 3em;
    text-align: center;
    color: hsl(210, 2%, 56%);
    border-radius: .2em;
    border: 1px solid hsl(210, 2%, 56%);
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1em;
    background: #fff;
    margin-top: .3em;
}



/* Right side css */

.right {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    /* border: 2px solid black; */
    margin: 1em;
}

.right .summary {
    padding: 1em;
    background: #fff;
    /* border: 2px solid black; */

}

.right .total-box {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1em;
    gap: 1em;
    margin-top: .3em;
}

.total-box .total-text {
    font-size: 15px;
    font-weight: 500;
}

.total-box .price {
    font-size: 25px;
    font-weight: normal;
}

.total-box>p {
    font-size: 15px;
    font-weight: 300;
}

.total-box .buttons {
    display: flex;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    body {
        flex-direction: column-reverse;
    }

    .cart {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 1em;
    }
}