<div class="cart">
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="img"></div>
                </td>
                <td>
                    <div class="product">
                        <h2>Desktop publishing software</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout. The point of using Lorem Epsum is
                        </p>
                        <div class="description">
                            <h3>Discription lists</h3>
                            <span>A description list is perfect for defining terms.</span>
                        </div>
                        <div class="action-button">
                            <button class="action"><i class="fa-solid fa-gift"></i>Add gift package</button>
                            <span>|</span>
                            <button class="action"> <i class="fa-solid fa-trash-can"></i>Remove
                                item</button>
                        </div>
                    </div>
                </td>
                <td><span>&dollar; 180,00</span><span><s>&dollar; 230,00</s></span></td>
                <td class="qua-box"><input type="number" value="1"></td>
                <td><span class="final-rate">&dollar; 180,00</span></td>
            </tr>
        </tbody>
    </table>
</div>